@import "../../components/assets/_colors";

.room {
  // height: 100%;

  .room-container {
    display: grid;
    grid-template-columns: 20% auto;

    .side-bar {
      // height: 100%;
      background-color: $primary-color;
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - #{$nav-height});
    }

    .right-col {
      display: grid;
      grid-template-rows: auto $chat-input;
    }

    .chat-body-container {
      background-color: azure;
    }
    .chat-input-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
